@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <h3>Controleer e-mail</h3>
    <p>
        Er is een e-mail verstuurd naar @Model.Email. 
    </p>
    <br />
    <h4>Geen email ontvangen?</h4>
    <ul>
        <li>Het kan enige minuten duren voordat de e-mail aankomt.</li>
        <li>De e-mail is in uw spambox terecht gekomen</li>
    </ul>
</div>
