@{
    ViewData["Title"] = "Home Page";
}

<form class="form-horizontal">
    <div asp-for-loop="" >
        @foreach (var user in Enumerable.Range(1,0))
        {
            <div class="row"><span>@user</span><span>@user</span></div>
        }
    </div>
    <div asp-for-empty=""> No lockout users found </div>
</form>