<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <DbResourceConfiguration>
    <add key="ActiveConfiguration" value="" />
    <add key="ConnectionString" value="Server=(localdb)\mssqllocaldb;Database=GGZDBC;Trusted_Connection=True;MultipleActiveResultSets=true" />
    <add key="ResourceTableName" value="Localizations" />
    <add key="StronglyTypedGlobalResource" value="~/App_Code/Resources.cs" />
    <add key="ResourceBaseNamespace" value="AppResources" />
    <add key="ResxExportProjectType" value="Project" />
    <add key="ResxBaseFolder" value="~/Properties/" />
    <add key="AddMissingResources" value="True" />
    <add key="LocalizationFormWebPath" value="~/LocalizationAdmin/" />
    <add key="BingClientId" value="" />
    <add key="BingClientSecret" value="" />
  </DbResourceConfiguration>
</configuration>