@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}
<div class="DTED_Lightbox_Background" style="opacity: 1;"></div>
<div class="DTED DTED_Lightbox_Wrapper" style="opacity: 1; top: 0px;">
    <div class="DTED_Lightbox_Container">
        <div class="DTED_Lightbox_Content_Wrapper">
            <div class="DTED_Lightbox_Content" style="height: auto;">
                <div class="DTE DTE_Action_Create">
                    <div data-dte-e="head" class="DTE_Header">
                        <div class="DTE_Header_Content">Create new entry</div>
                    </div><div data-dte-e="processing" class="DTE_Processing_Indicator"></div>
                    <div data-dte-e="body" class="DTE_Body">
                        <div data-dte-e="body_content" class="DTE_Body_Content" style="max-height: 857px;">
                            <div data-dte-e="form_info" class="DTE_Form_Info" style="display: none;"></div><form data-dte-e="form" class="" style="display: block;">
                                <div data-dte-e="form_content" class="DTE_Form_Content">
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_Email">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_Email">
                                            Email
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_Email" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_EmailConfirmed">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_EmailConfirmed">
                                            EmailConfirmed
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_EmailConfirmed" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_LockoutEnd">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_LockoutEnd">
                                            LockoutEnd
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_LockoutEnd" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_TwoFactorEnabled">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_TwoFactorEnabled">
                                            TwoFactorEnabled
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_TwoFactorEnabled" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_UserName">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_UserName">
                                            UserName
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_UserName" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_UserName">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_UserName">
                                            UserName
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_UserName" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                    <div class="DTE_Field DTE_Field_Type_text DTE_Field_Name_UserName">
                                        <label data-dte-e="label" class="DTE_Label" for="DTE_Field_UserName">
                                            UserName
                                            <div data-dte-e="msg-label" class="DTE_Label_Info"></div>
                                        </label>
                                        <div data-dte-e="input" class="DTE_Field_Input">
                                            <input id="DTE_Field_UserName" type="text">
                                            <div data-dte-e="msg-error" class="DTE_Field_Error" style="display: none;"></div>
                                            <div data-dte-e="msg-message" class="DTE_Field_Message" style="display: none;"></div>
                                            <div data-dte-e="msg-info" class="DTE_Field_Info"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div data-dte-e="foot" class="DTE_Footer">
                        <div class="DTE_Footer_Content"></div>
                        <div data-dte-e="form_error" class="DTE_Form_Error" style="display: none;"></div>
                        <div data-dte-e="form_buttons" class="DTE_Form_Buttons"><button class="btn" tabindex="0">Create</button></div>
                    </div>
                </div>
                <div class="DTED_Lightbox_Close"></div>
            </div>
        </div>
    </div>
</div>