@using System
@using System.Threading.Tasks
@*@inject IOptions<AppSettings> AppSettings*@

<html lang="en" pmbx_context="756F7244-847C-42EA-83B1-B06CFA7FDF93">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/css/site.css" rel="stylesheet"
          asp-use-minified="production,staging" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css" rel="stylesheet" />
    <!--datatables-->
    <link href="https://datatables.net/release-datatables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"
          asp-copy-src-to-fallback="development"
          asp-use-site-min-css="production,staging"
          asp-use-local="development" />
    <link href="~/css/snackbar.css" rel="stylesheet"
          asp-copy-src-to-fallback="development"
          asp-use-site-min-css="production,staging"
          asp-use-local="development" />
    <!--custom-->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body class="page page-container body-content">
    <div class="progress progress-bar-ajax">
        <div class="progress-bar progress-bar-info" style="width: 0%"></div>
    </div>
    <!-- BEGIN HEADER -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="javascript:void(0)"><img src="~/images/Logo-Medella.jpg" alt="logo" class="logo-default"></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            @await Html.PartialAsync("Menu")
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content @ViewData["PageStyle"] ">
                <!-- BEGIN PAGE CONTENT-->
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer navbar-fixed-bottom">
        2015 © Medella. <a href="http://wwww.medella.nl" title="Medella DBC" target="_blank">Medella!</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"
            asp-copy-src-to-fallback="development"
            asp-use-site-min-js="staging,production"
            asp-use-local="development"></script>
    <script src="https://datatables.net/release-datatables/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.js"
            asp-copy-src-to-fallback="development"
            asp-use-site-min-js="staging,production"
            asp-use-local="development"></script>
    <script src="/js/mvc.jquery.datatables.js"
            asp-copy-src-to-fallback="development"
            asp-use-site-min-js="staging,production"></script>
    <script src="/js/snackbar.js"
            asp-copy-src-to-fallback="development"
            asp-use-site-min-js="staging,production"></script>
    <script src="/js/site.js" asp-use-minified="staging,production" asp-file-version="true"></script>
    <script>
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
    @RenderSection("scripts", required: false)
    <span role="status" aria-live="polite" class="select2-hidden-accessible"></span>
    <div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
</body>
</html>