@using System.Diagnostics;
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">
    <ul>
        @{
            foreach (var modelErrors in ViewContext.ModelState.Values.Select(v => v.Errors))
            {
                foreach (var error in modelErrors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        }
    </ul>
</h3>