@using System.Security.Claims
<ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    @{
        bool Administrators = User.IsInRole("Administrators");
        bool Users = User.IsInRole("Users");
        Administrators = true;
    }
    @if (Administrators) {
        <li><a href="/User">@T["Users"]</a></li>}

</ul>

<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" >
    <ul class="nav navbar-nav navbar-right">
        @if (User.Identity.IsAuthenticated) {
            <li>
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar-menu" width="56px" height="56px" src="~/images/avatar-man.svg" />
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Manage" asp-action="Index" title="Manage">Profiel</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        }
        else {
            <li><a href="/Account/Register">@T["Register"]</a></li>
            <li><a href="/Account/Login">@T["Log in"]</a></li>
        }
        <li><a href="/Home/Contact">Contact</a></li>
        
    </ul>
</form>
