/*Body setup*/
body {
    padding-bottom: 20px;
    font-size: 140%; 
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .navbar-fixed-top ul.navbar-right {
        margin-right: 0px;
    }
}
/*End Body setup*/
/*Menu setup*/
.logo-default {
    height: 60px;
}

.avatar-menu { /*correct padding link*/
    margin-top: -20px;
    margin-bottom: -20px;
}
/*Menu setup*/
.page-content {
    min-height: 400px;
    height:auto;
}

    .page-content.form-small {
        width: 500px;
        margin: auto;
        border: 1px solid #DDD;
        background: #FFF none repeat scroll 0% 0%;
        padding: 20px;
    }
/*End Page setup*/


/*End Datatable */
div.DTTT.btn-group .btn {
    margin-left: 5px;
}

div.DTTT {
    margin-bottom: 0.5em;
    float: right;
}

div.dataTables_wrapper {
    clear: both;
}

div.DTTT {
    margin-bottom: 0.5em;
    float: left;
}
/*End Datatable */

/*material*/
.form-control-wrapper {
    margin-top: 10px;
}
/* Set widths on the form inputs since otherwise they're 100% wide ??????????*/
input,
select,
textarea {
    max-width: 280px;
}
/*End Material*/


/*Modal*/
.modal-open-backup {
    overflow: hidden;
}
/*End Modal*/

/*progress-bar*/

.progress.progress-bar-ajax {
    background-color: transparent;
    margin-bottom: 1em;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    margin: 0px;
}

.progress-bar-ajax .progress-bar {
    float: left;
    height: 100%;
    width: 0%;
    transition: width cubic-bezier(1,0,.42,.42) 10s;
    -webkit-transition: width cubic-bezier(1,0,.42,.42) 10s;
    -moz-transition: width cubic-bezier(1,0,.42,.42) 10s;
    -o-transition: width cubic-bezier(1,0,.42,.42) 10s;
}
/*end progress-bar*/
/* Forms */
.vertical-align {
    display: flex;
    align-items: center;
}

/*Bootstrap extension*/
.dropdown-menu li>button.aslink {
    display: block;
    clear: both;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    padding: 13px 16px;
    color: #333;
    background-color: transparent;
    border: initial;
    width: 100%;
    text-align: left;
}
li>button.aslink:hover {
    color: #009688;
    background-color: #eee;
}
