@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <h3>Controleer e-mail</h3>
    <p>
        Er is een e-mail verstuurd naar @Model.Email. Controleer uw inbox en volg de instructies in de e-mail om uw wachtwoord te resetten.
    </p>
    <br />
    <h4>Geen email ontvangen?</h4>
    <ul>
        <li>Het kan enige minuten duren voordat de e-mail aankomt.</li>
        <li>U heeft een e-mailadress opgegeven dat niet bij ons geregistreed staat.</li>
        <li>De e-mail is in uw spambox terecht gekomen</li>
    </ul>
</div>
