@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Forgot your password?"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h3>@ViewData["Title"]</h3>
        <p>
            @T["Enter your email address to reset your password."]
        </p>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input asp-for="Email" autofocus="autofocus" class="form-control form-control-solid placeholder-no-fix" asp-material-design="true" />
        <div class="form-actions clearfix">
            <button type="submit" class="btn btn-primary uppercase pull-right ">@T["Submit"]</button>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
