@model ForgotPasswordViewModel
@using System.Collections.Generic
@using System.Threading.Tasks
@using DBC.Models.DB
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Wachtwoord vergeten";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h3>Wachtwoord vergeten?</h3>
        <p>
            Voer uw e-mailadres in om het wachtwoord te resetten.
        </p>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Email" autofocus class="form-control form-control-solid placeholder-no-fix" asp-material-design="true" />

        </div>
        <div class="form-actions clearfix">
            <button type="submit" class="btn btn-success uppercase pull-right ">Verstuur</button>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
