@model LoginViewModel
@using System.Collections.Generic
@using System.Threading.Tasks
@using DBC.Models.DB
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <h3 class="form-title">
            Aanmelden
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count != 0) {
                    <span>of login met:</span>
                    foreach (AuthenticationDescription p in loginProviders) {
                        <button name="provider" value="@p.AuthenticationScheme" class="fa fa-@p.DisplayName" title="@p.DisplayName"></button>
                    }
                }
            }
        </h3>
    </form>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="login-form" role="form" style="display: block;">
        <div asp-validation-summary="ValidationSummary.All" class="alert-danger"></div>
        <input class="form-control" asp-for="Email" asp-material-design="true" />
        <input class="form-control" asp-for="Password" asp-material-design="true" />

        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">Login</button>
            <input class="form-control" asp-for="RememberMe" asp-material-design="true" />
            <a class="forget-password" asp-action="ForgotPassword"><translate>Forgot your password?</translate></a>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
