@{
    ViewData["Title"] = T["Reset password confirmation."];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">

    <h3>@ViewData["Title"]</h3>
    <p>
        @T["Your password has been reset."] <span> @Html.Raw(T["Please <a href='{0}'>Click here to log in</a>.", "/Account/Login"])</span>
        
    </p>
</div>
