@model ResetPasswordViewModel
@{
    ViewData["Title"] = T["Reset your password"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="content">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="" role="form">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <input asp-for="Email" autofocus class="form-control form-control-solid placeholder-no-fix" asp-material-design="true" />
        <input asp-for="Password" class="form-control form-control-solid placeholder-no-fix" asp-material-design="true" />
        <input asp-for="ConfirmPassword" class="form-control form-control-solid placeholder-no-fix" asp-material-design="true" />
        <div class="form-actions clearfix">
            <button type="submit" class="btn btn-primary uppercase pull-right ">@T["Reset"]</button>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
