@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Verify";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>@ViewData["Title"].</h2>
<div class="content">
    <form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-login" role="form">
        <h4>@T["enter your verification code"]</h4>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input class="form-control" asp-for="Code" asp-material-design="true" />
        <input asp-for="Provider" type="hidden" />
        <input asp-for="RememberMe" type="hidden" />
        <input class="" asp-for="RememberBrowser" type="checkbox" asp-material-design="true" />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary uppercase">@T["Submit"]</button>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


